
.padding-container{
    padding: 0px 25px;
}
.search-bar-container{
    padding:0% 23%;
    color: white;
    /* background-color: #f0f0f0; */

    margin-top: -70px;
    z-index: 999;
    
}
.form-shape{
    border-radius: 90% !important;
    
}
.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url]{
    border-radius: 25px;
    padding:15px;
    background-color: #f0f0f0; 
    color:#8d8d8d;
}

.forms{
    border-radius: 55px !important;
    padding:25px 20px;
    background-color: #f0f0f0; 
    color:#8d8d8d;
    width: 700px;
    z-index: 999;
    margin-top: -30px;
}
/************** FIX ONCLICK ERROR */
.ui.form input[type=text]:active{
    border-radius: 15px;
    padding:15px;
    background-color: #f0f0f0; 
    color:#8d8d8d;
}

.i-index{
    z-index: 9999;
    margin-top: 25px;
    position: absolute;
    margin-left: 22%;
}



.Nav-bar{
    position: relative;
    /* height: 30px; */
    
    /* margin-top: 30px; */
}
.navbar{
    padding: 20px;
    /* background-color: white; */
}
.navbar i:hover{
    /* padding: 20px;
    background-color: white; */
    border: 10px solid rgb(240, 239, 239);
    border-radius: 100px;
    margin: 0px;
   
}
.decoration{
    /* text-decoration: none; */
    color:#f0f0f0 !important;
    margin-left: 40px !important;

}
.font-popover{
    color:grey;
    margin-left:20px;
    /* margin-bottom: 20px; */
    font-size: 20px;
}
.container-popover{
    margin-top: 15px;
    margin-bottom: 15px;
}
.distance{
    margin-bottom: 30px;
    color: grey;
    font-weight: 800;
}
.padding-popover{
    padding: 20px 25px
}
.round{
    border-radius: 20px;
}
.form-length{
    width:200px!important;
}
.tab-font{
    font-size: 15px;
    padding-bottom: 20px;
}


.button-hover:hover{
   background-color:  rgb(240, 239, 239);
   /* border-radius: 100px;  */
}

.notice-props{
    color:white;
    background-color: black;
    font-weight: 400;
    font-size: medium;
    padding:11px;
    padding-top: 20px;
    margin-top: -20px;
    /* text-decoration: none; */
}

.button-props{
    color:black;
    background-color: white;
    border-radius: 50px;
    padding:10px;
    font-weight: 700;
    font-size: medium;
}
.button-props2:hover{
    color:white;
}
.button-props2{
    color:white;
    background-color: black;
    border-radius: 50px;
    padding:10px;
    font-weight: 700;
    font-size: medium;
}
.icon-space{
/* margin-right: 15px; */
}
.no-style:hover{
    text-decoration: none;
    color: #f0f0f0;
}

.center-text{
    text-align: center;
    padding: 0px 40px;
    margin: 10px 0px;
}
.image-attributes{
    border-radius: 30px;
}


/************** Medias  */

@media (min-width:1600px) { 
    .search-bar-container{
        
        /* display: none; */
        /* margin-top: 1px; */
        margin-left: -39px !important;
    } 
}
@media (min-width:1365px) { 
 .search-bar-container{
        
        /* display: none; */
        /* margin-top: 1px; */
        margin-left: -59px !important;
    }
    
}
@media  (min-width:1024px) {  

    .search-bar-container{
        /* width:2000px !important; */
        /* display: none; */
        /* margin-top: 1px; */
        margin-left: 8px;
    }
    .forms{
        width: 530px !important;
        /* margin-top: .01%;    */
    }
}
@media (max-width:1023px) and (min-width:480px) { 
    .mobile-hide{
        display: none;
    }
    .button-props2{
        /* width: 60px;
        height: 60px;
        font-size: 12px; */
        /* margin-right: 25px; */
    }
    .search-bar-container{
        /* width:2000px; */
        /* display: none; */
        margin-top: -81px;
        margin-left: -39px;
    }
    .forms{
        width: 380px !important;
        /* margin-top: .01%;    */
    }
 }

@media (max-width:480px) { /* smartphones, Android phones, landscape iPhone */ 
.mobile-hide{
        display: none;
    }
    .button-props2{
        width: 60px;
        height: 60px;
        font-size: 12px;
        /* margin-right: 25px; */
    }
    .search-bar-container{
        /* width:1%; */
        /* display: none; */
        margin-top: -81px;
        margin-left: 15px;
    }
    .forms{
        width: 220px;
    }
    .i{
        display: none;
    }
    .navbar i:hover{
        display: none;
    }
}
@media (max-width:375px) and (min-width:321px){
 .forms{
        width: 200px;
    }
     .button-props2{
        width: 40px;
        height: 40px;
        font-size: 8px;
        display: none;
        /* margin-right: 25px; */
        /* margin-left:70% !important ; */
    }
    .search-bar-container{
        /* width:20px; */
        /* display: none; */
        /* margin-top: -81px; */
        margin-left: -50px;
    }
    .forms{
        width: 255px;
        margin-top: .01%;   
    }
}

@media (max-width:320px) { 
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .search-bar-container{
        /* width:1%; */
        /* display: none; */
        margin-top: -57px;
        margin-left: -40px;
    }
.forms{
        width: 200px;
    }
     .button-props2{
        width: 40px;
        height: 40px;
        font-size: 8px;
        display: none;
        /* margin-right: 25px; */
        /* margin-left:70% !important ; */
    }
}

